@import url('https://fonts.googleapis.com/css?family=Jura');
.menuicon {
    position: fixed;
    top: 13%;
    right: 2.3%;
    transform: translate(-13%, -95%);
    width: 2.3%;
}

.navRightUp {
    position: fixed;
    top: 43%;
    left: 95.8%;
    transform: translate(-45%, -95.8%);
    width: 0.11%;
    height: 25%;
}

.diskicon {
    position: fixed;
    top: 50%;
    left: 95.8%;
    transform: translate(-50%, -50%);
    width: 2.5%;
    opacity: 0.9;
}

.navRightDown {
    position: fixed;
    top: 80%;
    left: 95.8%;
    transform: translate(-80%, -95.8%);
    width: 0.12%;
    height: 25%;
}

.arrow_icon_down {
    position: fixed;
    bottom: 8%;
    right: 3.3%;
    width: 1.5%;
    transform: rotate(90deg);
}

.arrow_icon_up {
    position: fixed;
    bottom: 13%;
    right: 3.3%;
    width: 1.5%;
    transform: rotate(-90deg);
}